<footer class="bg-dark text-light pt-5 page-footer mt-3">
    <div class="container px-5">
        <div class="row">
            <div class="col-6">
                <h3 class="fw-bold">Green Furtiture "KitchenEcco"</h3>
                <p class="pt-2">432072 г. Ульяновск 26 проезд инженерный 3</p>
                <p class="mb-2">тел. 89958976495</p>
                <p>тел. 89253522423</p>
            </div>
            <div class="col-6">
                <h4>Menu</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'home' %}">Home</a></li>
                    <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'company_info' %}">About</a></li>
                </ul>
            </div>
<!--            <div class="col-6 col-lg-3 text-lg-end">-->
<!--                <h4>Social Media Links</h4>-->
<!--                <div class="social-media pt-2">-->
<!--                    <a href="#" class="text-light fs-2 me-3"><i class="bi bi-facebook"></i></a>-->
<!--                    <a href="#" class="text-light fs-2 me-3"><i class="bi bi-pinterest"></i></a>-->
<!--                    <a href="#" class="text-light fs-2 me-3"><i class="bi bi-instagram"></i></a>-->
<!--                    <a href="#" class="text-light fs-2"><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <hr>
        <div class="d-sm-flex justify-content-between py-1">
            <p>2023 © Green Furniture. All Rights Reserved. </p>
        </div>
    </div>
</footer>