{% extends 'base.html' %}
{% load navbar_catalog %}
{% load static %}

{% block title %} Информация о компании {% endblock %}

{% block content %}
<div class="container">
    {% navbar_catalog %}
    <h1>Информация о компании</h1>

    <div class="card">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">ЗелЁная Мебель "КухниЭкко"</h5>
                    <p class="card-text">Мы рады представить вам нашу компанию КухниЭкко, специализирующуюся на
                        изготовлении индивидуальной кухонной мебели, встроенных шкафов, тумб, полок и столов по вашим
                        индивидуальным размерам.
                        Наша команда профессионалов готова создать для вас идеальное пространство на вашей кухне,
                        сочетая функциональность, стиль и качество.
                        Основные направления
                            1. Индивидуальный подход
                        Мы понимаем, что каждый клиент имеет уникальные потребности и предпочтения. Поэтому мы
                        предлагаем индивидуальный подход к каждому проекту, чтобы создать кухню, отражающую ваш стиль и
                        соответствующую вашим требованиям.
                            2. Изготовление на заказ
                        Наша компания специализируется на изготовлении кухонной мебели на заказ. Мы предлагаем широкий
                        выбор материалов, включая массив, эмаль, МДФ пленки и лдсп, чтобы создать фасады и корпуса,
                        которые отвечают вашим предпочтениям и бюджету.
                            3. Качество и надежность
                        Мы гордимся высоким качеством нашей продукции и стремимся предоставить надежные и долговечные
                        решения для вашей кухни. Наша команда опытных мастеров тщательно следит за каждым этапом
                        производства, чтобы убедиться, что каждая деталь соответствует самым высоким стандартам.
                        Преимущества
                        Индивидуальный подход и изготовление на заказ позволяют нам создавать кухонную мебель, которая
                        полностью соответствует вашим потребностям и предпочтениям.
                        Широкий выбор материалов дает вам возможность выбрать идеальные фасады и корпуса для вашей
                        кухни, от классических массивных деревянных фасадов до современных эмалевых поверхностей или МДФ
                        пленок.
                        Качество и надежность нашей продукции гарантируют долговечность и удовлетворение вашей кухни на
                        протяжении многих лет.
                        Заключение
                        Компания КухниЭкко готова помочь вам создать идеальную кухню, которая отражает ваш стиль и
                        соответствует вашим потребностям.
                        Мы стремимся предоставить вам высокое качество, индивидуальный подход и надежность в каждом
                        проекте.
                        Обратитесь к нашей команде профессионалов, чтобы обсудить ваши потребности и начать создание
                        вашей мечты о кухне.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}