{% extends 'base.html' %}
{% load navbar_catalog %}
{% load static %}

{% block title %} Информация о Столешницах {% endblock %}

{% block content %}
<div class="container">
    {% navbar_catalog %}
    <h1>Информация о Столешницах</h1>

    <div class="card">
        <div class="row p-3">
            <div class="col-4">
                <img src="{% static 'images/logo_kedr.png' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Кедр информация</h5>
                    <p class="card-text">Сотрудничество с компанией Кедр:
                        Компания "КухниЭкко" рада сотрудничеству с компанией Кедр, которая является одним из наших
                        надежных партнеров по поставке столешниц. Компания Кедр специализируется на производстве и
                        поставке различных видов столешниц, включая каменные столешницы, натуральный камень,
                        искусственный камень, акрил, стеклянные столешницы, стальные столешницы, деревянные столешницы,
                        МДФ и ДСП. Мы ценим наше партнерство с компанией Кедр, так как они предлагают нам столешницы
                        высокого качества по оптовой цене. Благодаря этому сотрудничеству мы можем предложить нашим
                        клиентам широкий выбор столешниц различных материалов, от классического натурального камня до
                        современных акриловых и стеклянных столешниц. Мы уверены, что продукция компании Кедр отвечает
                        высоким стандартам качества, что позволяет нам создавать кухни, удовлетворяющие потребности и
                        предпочтения наших клиентов.
                    </p>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-4">
                <img src="{% static 'images/logo_souz.png' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Союз информация</h5>
                    <p class="card-text">Сотрудничество с компанией Союз групп:
                    Компания "КухниЭкко" также сотрудничает с компанией Союз групп, которая является нашим долгосрочным
                        партнером по поставке столешниц. Компания Союз групп специализируется на производстве и поставке
                        различных видов столешниц для кухонь, включая каменные столешницы, натуральный камень,
                        искусственный камень, акрил, стеклянные столешницы, стальные столешницы, деревянные столешницы,
                        МДФ и ДСП. Наше сотрудничество с компанией Союз групп позволяет нам получать столешницы по
                        оптовой цене, что является важным фактором для предоставления нашим клиентам конкурентоспособных
                        цен на наши кухни. Мы ценим качество продукции, предлагаемой компанией Союз групп, и уверены в
                        их способности предоставить нам разнообразие столешниц, отвечающих требованиям наших клиентов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}